{% extends "base.html" %}
{% block content %}
  <h1>Car List</h1>
  {% if car_list %}
    <table class="table  table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Model</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
        {% for car in car_list %}
          <tr>
            <td><a href="{{ car.get_absolute_url }}"> {{ car.id }}</a></td>
            <td>{{ car.model }}</td>
            <td>{{ car.manufacturer }}</td>
          </tr>
        {% empty %}
          No cars yet.
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
